:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, serif;
}

.element {
  font-family: var(--system-ui);
}

.site {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
}

section {
  padding: 0px 10px;
}


.gradient-text {
  background-color: red;
  background-image: linear-gradient(in hsl longer hue, #e66465, #9198e5);
  background-size: 10%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

header {
  grid-area: header;
  background-image: linear-gradient(to right, #c83349, #eeac99);
  color: #000;
}

h1 {
  padding: 0px 10px;
}

body {
  margin: 0;
  padding: 0;
}

.header-navbar {
  list-style-type: none;
  margin: 10px;
}

.header-navbar li {
  display: inline-block;
  margin-right: 0.5em;
}

.header-navbar a {
  display: block;
  padding: 0.5em;
  background-color: #59d5c3;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

.header-navbar a:hover {
  color: #e06377;
}

.header-navbar a.active {
  background-color: #c83349;
  font-weight: bold;
}

.header-navbar a.active:hover {
  color: #59d5c3;
  font-weight: bold;
}

main {
  grid-area: main;
  background-color: #f9d5e5;
  color: #000;
}

.main h2:after {
  content: " ";
  display: block;
  border: 1px solid black;
}

footer {
  grid-area: footer;
  background-image: linear-gradient(to right, #eeac99, #c83349);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-navbar li {
  display: inline;
  margin-right: 10px;
}

.footer-navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.footer-navbar a:hover {
  color: #c83349;
}

.media-bar {
  list-style-type: none;
  margin: 10x;
  padding: 1.5;
}

.media-bar li {
  display: inline;
  margin-right: 10px;
}

.media-bar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.media-bar a:hover {
  color: #c83349;
}

@media (max-width: 768px) {
  header, footer {
    flex-direction: column;
    text-align: center;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin-right: 0;
    margin-bottom: 0.5em;
  }
}
