:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, serif;
}

.element {
  font-family: var(--system-ui);
}

.gradient-text {
  background-color: red;
  background-image: linear-gradient(to right, #fff, #000);
  background-size: 20%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

.header-navbar {
  list-style-type: none;
  margin: 10px;
}

.header-navbar li {
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 8px;
}

.header-navbar a {
  display: block;
  padding: 0.5em;
  background-color: #dddddd;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.header-navbar a:hover {
  color: #e06377;
}

.footer-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-navbar li {
  display: inline;
  margin-right: 15px;
}

.footer-navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.footer-navbar a:hover {
  color: #c83349;
}

h1 {
  padding: 0px 10px;
}

.site {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
}

header {
  grid-area: header;
  background-image: linear-gradient(to right, #c83349, #eeac99);
  color: #000;
}

main {
  grid-area: main;
  background-color: #f9f9f9;
  color: #333333;
}

footer {
  grid-area: footer;
  background-color: #e06377;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 0px 10px;
}
